* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 1600px;
}

header {
    height: 1082px;
    background: url("../img/Layer 96.png");
    background-repeat: no-repeat;
    background-position: inherit;
}

.header-menu {
    display: flex;
    padding-top: 22px;
    padding-bottom: 18px;
    padding-left: 214px;
    padding-right: 200px;
    line-height: 75px;
}

.header-menu ul {
    margin-left: 195px;
    font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
}

.header-medias li {
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
}

.menu-link-active {
    padding-bottom: 40px;
    border-bottom: 5px solid #11749e;
}

.fa {
    margin-left: 5px;
    margin-right: 5px;
}

.header-medias a {
    text-decoration: none;
    color: white;
}

.headline {
    text-align: center;
    text-transform: uppercase;
    padding-top: 220px;
}

h1 {
    font-family: "Gotham", Bold, sans-serif;
    font-size: 152px;
    line-height: 0;
    color: white;
}

.headline p {
    font-family: "Gotham", sans-serif;
    font-size: 25px;
    line-height: 0;
    font-weight: 500;
    letter-spacing: 0.8em;
    color: #11749e;
}

.header-scrolldown {
    text-align: center;
    margin: 140px;
}

.header-scrolldown p {
    color: white;
    font-family: "Open Sans", sans-serif;
    margin: 12px;
}

.blue-ground {
    background-color: #11749e;
}

.awesome-agency {
    height: 738px;
    text-align: center;
}

.awesome-header {
    height: 200px;
    padding-top: 90px;
    position: relative;
}

.awesome-header h2 {
    font-family: "Gotham", sans-serif;
    font-weight: 400;
    font-size: 38px;
    color: white;
    text-transform: uppercase;
    margin-top: 50px;
}

.awesome-header p {
    font-family: "Roboto", sans-serif;
    font-size: 248px;
    font-weight: bold;
    color: white;
    opacity: 25%;
    position: absolute;
    top: 30px;
    left: 710px
}

.feature-column {
    display: flex;
    justify-content: space-evenly;
    margin-left: 214px;
    margin-right: 214px;
}

.feature-article {
    width: 290px;
    color: white;
}

.feature-article img {
    margin: 12px;
}

.feature-article h4 {
    font-family: "Gotham", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 12px;
}

.feature-article p {
    font-size: 15px;
    font-family: "Gotham", sans-serif;
    margin: 22px;
    overflow: hidden;
    text-overflow: clip;
    height: 75px;
    line-height: 25px;
}

.news-area {
    height: 447px;
    display: flex;
}

.first-news {
    background-color: #222222;
    color: white;
    padding-left: 205px;
    padding-top: 70px;
}

.second-news {
    background-color: #f3f3f3;
    padding-left: 72px;
    padding-top: 60px;
}

.news-image {
    height: 447px;
    display: flex;
    vertical-align: center;
}

.news-image img {
    width: 799px;
}

.news-style {
    font-family: "Gotham", sans-serif;
    width: 799px;
}

.news-style p, .news-style h3, .news-style h4 {
    padding: 10px;
    width: 480px;
}

.news-style h4 {
    font-size: 13px;
}

.news-style h3 {
    font-size: 25px;
    text-transform: uppercase;
}

.news-style p {
    font-size: 15px;
}