@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/FontAwesome/fonts/FontAwesome.eot"); /* IE9 Compat Modes */
    src: url("../fonts/FontAwesome/fonts/FontAwesome.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/FontAwesome/fonts/FontAwesome.otf") format("opentype"), /* Open Type Font */
    url("../fonts/FontAwesome/fonts/FontAwesome.svg") format("svg"), /* Legacy iOS */
    url("../fonts/FontAwesome/fonts/FontAwesome.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/FontAwesome/fonts/FontAwesome.woff") format("woff"), /* Modern Browsers */
    url("../fonts/FontAwesome/fonts/FontAwesome.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham-Bold";
    src: url("../fonts/Gotham-Bold/fonts/GothamBold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Gotham-Bold/fonts/GothamBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Gotham-Bold/fonts/GothamBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Gotham-Bold/fonts/GothamBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Gotham-Bold/fonts/GothamBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Gotham-Bold/fonts/GothamBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Gotham-Bold/fonts/GothamBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham-Book";
    src: url("../fonts/Gotham-Book/fonts/GothamBook.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Gotham-Book/fonts/GothamBook.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Gotham-Book/fonts/GothamBook.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Gotham-Book/fonts/GothamBook.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Gotham-Book/fonts/GothamBook.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Gotham-Book/fonts/GothamBook.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Gotham-Book/fonts/GothamBook.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham-Medium";
    src: url("../fonts/Gotham-Medium/fonts/GothamMedium.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Gotham-Medium/fonts/GothamMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Gotham-Medium/fonts/GothamMedium.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Gotham-Medium/fonts/GothamMedium.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Gotham-Medium/fonts/GothamMedium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Gotham-Medium/fonts/GothamMedium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Gotham-Medium/fonts/GothamMedium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans/fonts/OpenSans.eot"); /* IE9 Compat Modes */
    src: url("../fonts/OpenSans/fonts/OpenSans.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/OpenSans/fonts/OpenSans.otf") format("opentype"), /* Open Type Font */
    url("../fonts/OpenSans/fonts/OpenSans.svg") format("svg"), /* Legacy iOS */
    url("../fonts/OpenSans/fonts/OpenSans.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/OpenSans/fonts/OpenSans.woff") format("woff"), /* Modern Browsers */
    url("../fonts/OpenSans/fonts/OpenSans.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-BoldCondensed";
    src: url("../fonts/Roboto-BoldCondensed/fonts/RobotoVoldCondensed.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Roboto-BoldCondensed/fonts/RobotoVoldCondensed.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Roboto-BoldCondensed/fonts/RobotoVoldCondensed.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Roboto-BoldCondensed/fonts/RobotoVoldCondensed.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Roboto-BoldCondensed/fonts/RobotoVoldCondensed.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Roboto-BoldCondensed/fonts/RobotoVoldCondensed.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Roboto-BoldCondensed/fonts/RobotoVoldCondensed.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular/fonts/RobotoRegular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Roboto-Regular/fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Roboto-Regular/fonts/RobotoRegular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Roboto-Regular/fonts/RobotoRegular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Roboto-Regular/fonts/RobotoRegular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Roboto-Regular/fonts/RobotoRegular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Roboto-Regular/fonts/RobotoRegular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@import url("https://p.typekit.net/p.css?s=1&k=fuc8ojj&ht=tk&f=6808.6846&a=43858238&app=typekit&e=css");

@font-face {
    font-family:"myriad-pro-condensed";
    src:url("https://use.typekit.net/af/c63dde/0000000000000000000170a8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/c63dde/0000000000000000000170a8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/c63dde/0000000000000000000170a8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
    font-family:"myriad-pro";
    src:url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
}

.tk-myriad-pro-condensed { font-family: "myriad-pro-condensed",sans-serif; }
.tk-myriad-pro { font-family: "myriad-pro",sans-serif; }

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 1600px;
}

header {
    height: 1082px;
    background: url("../img/Layer 96.png") no-repeat;
    background-position: inherit;
}


.header-menu {
    display: flex;
    padding-top: 22px;
    padding-bottom: 18px;
    padding-left: 214px;
    padding-right: 200px;
    line-height: 20px;
}

.header-menu ul {
    margin-left: 195px;
    font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
    margin-top: 27px;
}

.header-medias li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.menu-link-active {
    padding-bottom: 40px;
    border-bottom: 5px solid #11749e;
}

.fa {
    margin-left: 5px;
    margin-right: 5px;
}

.header-medias a {
    text-decoration: none;
    color: white;
}

.headline {
    text-align: center;
    text-transform: uppercase;
    padding-top: 220px;
}

h1 {
    font-family: "Gotham-Bold", sans-serif;
    font-size: 152px;
    line-height: 0;
    color: white;
}

.headline p {
    font-family: "Gotham-Medium", sans-serif;
    font-size: 25px;
    line-height: 0;
    font-weight: 500;
    letter-spacing: 0.8em;
    color: #11749e;
}

.header-scrolldown {
    text-align: center;
    margin: 140px;
}

.header-scrolldown p {
    color: white;
    font-family: "OpenSans", sans-serif;
    margin: 12px;
}

.blue-ground {
    background-color: #11749e;
}

.awesome-agency {
    height: 738px;
    text-align: center;
}

.awesome-header {
    height: 200px;
    padding-top: 90px;
    position: relative;
}

.awesome-header h2 {
    font-family: "Gotham-Medium", sans-serif;
    font-weight: 400;
    font-size: 38px;
    color: white;
    text-transform: uppercase;
    margin-top: 50px;
}

.awesome-header p {
    font-family: "Roboto-BoldCondensed", sans-serif;
    font-size: 248px;
    font-weight: bold;
    color: white;
    opacity: 25%;
    position: absolute;
    top: 30px;
    left: 710px;
}

.feature-column {
    display: flex;
    justify-content: space-evenly;
    margin-left: 214px;
    margin-right: 214px;
}

.feature-article {
    width: 290px;
    color: white;
}

.feature-article img {
    margin: 12px;
}

.feature-article h4 {
    font-family: "Gotham-Medium", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 12px;
}

.feature-article p {
    font-size: 15px;
    font-family: "Gotham-Book", sans-serif;
    margin: 22px;
    overflow: hidden;
    text-overflow: clip;
    height: 75px;
    line-height: 25px;
}

.news-area {
    height: 447px;
    display: flex;
}

.first-news {
    background-color: #222222;
    color: white;
    padding-left: 205px;
    padding-top: 70px;
}

.second-news {
    background-color: #f3f3f3;
    padding-left: 72px;
    padding-top: 60px;
}

.news-image {
    height: 447px;
    display: flex;
    vertical-align: center;
}

.news-image img {
    width: 799px;
}

.news-style {
    width: 799px;
}

.news-style p, .news-style h3, .news-style h4 {
    padding: 10px;
    width: 480px;
}

.news-style h4 {
    font-size: 13px;
    font-family: "Gotham-Medium", sans-serif;
}

.news-style h3 {
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Gotham-Book", sans-serif;
}

.news-style p {
    font-size: 15px;
    font-family: "Gotham-Book", sans-serif;
}

.blog-line {
    text-align: center;
    height: 1017px;
}

.fresh-summer-blog {
    height: 613px;
    margin: 0 214px;

}

.first-line {
    position: relative;
    height: 404px;
}

.first-line h2 {
    font-family: "Gotham-Medium", sans-serif;
    font-size: 38px;
    line-height: 0;
    padding-top: 165px;
    padding-bottom: 115px;
    text-transform: uppercase;
}

.background-B {
    font-family: "Roboto-BoldCondensed", sans-serif;
    font-size: 248px;
    font-weight: bold;
    color: #d7d7d7;
    opacity: 30%;
    position: absolute;
    left: 710px;
    top: 30px;

}

.clean-desing {
    font-family: "Gotham-Book", sans-serif;
    font-size: 30px;

}

.fresh-summer-blog {
    display: flex;
    justify-content: space-evenly;
}

.fresh-summer {
    width: 270px;
}

.fresh-summer img {
    margin-bottom: 30px;
}

.fresh-summer h3, .fresh-summer p {
    margin: 15px 0;
}

.fresh-summer h3 {
    color: #11749e;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Gotham-Medium", sans-serif;
}

.fresh-summer p {
    line-height: 28px;
    overflow: hidden;
    text-overflow: clip;
    height: 140px;
    font-family: "Gotham-Book", sans-serif;
}

.comment-point {
    height: 355px;
    display: flex;
    vertical-align: center;
    justify-content: space-around;
    padding: 0 215px;
}

.comment-point-block {
    vertical-align: center;
}

.comment-point-block p {
    width: 475px;
    font-family: "Gotham-Book", sans-serif;
    color: white;
    font-weight: 100;
    font-size: 15px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: clip;
    height: 98px;
    margin: 113px 0;

}

.comment-point-block img {
    float: left;
    margin: 10px 30px 0 0;
}

.akita-line {
    height: 850px;
    background: url("../img/Layer 87.png");
    color: white;
    display: flex;
}

.akita-line-text {
    width: 50%;
    padding-left: 225px;
    padding-top: 235px;
}

.akita-line-text h3 {
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Gotham-Medium", sans-serif;
}

.akita-line-paragraph {
    font-size: 15px;
    line-height: 25px;
    width: 420px;
    margin-top: 40px;
    margin-bottom: 52px;
    overflow: hidden;
    text-overflow: clip;
    height: 95px;
    font-family: "Gotham-Book", sans-serif;
}

.akita-line-text div {
    line-height: 38px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #11749e;
    padding-left: 18px;
    margin: 12px 0;
    font-family: "Gotham-Medium", sans-serif;
}

#blue-line-1 {
    width: 371px;
}

#blue-line-2 {
    width: 400px;
}

#blue-line-3 {
    width: 428px;
}

.akita-line-img {
    text-align: right;
    width: 50%;
    margin-top: 120px;
    margin-right: 310px;
}

.team-line {
    height: 945px;
}

.team-line-photos {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Gotham-Medium", sans-serif;
}

.team-line-text {
    position: relative;
    font-weight: 100;
    text-align: center;
    margin-top: 140px;
}

.team-line-text h2 {
    font-size: 38px;
    text-transform: uppercase;
    font-family: "Gotham-Medium", sans-serif;
}

.background-t {
    font-family: "Roboto-BoldCondensed", sans-serif;
    color: gray;
    position: absolute;
    font-size: 248px;
    opacity: 25%;
    font-weight: 700;
    top: -120px;
    margin-left: 745px;
}

.team-line-sales {
    font-size: 30px;
    margin-top: 140px;
    margin-bottom: 72px;
    font-family: "Gotham-Book", sans-serif;
}

.team-own-portret {
    position: relative;
}

.team-own-paragraph {
    position: absolute;
    background-color: white;
    height: 77px;
    width: 216px;
    text-align: center;
    margin-left: 28px;
    top: 366px;
    font-family: "Gotham-Medium", sans-serif;
}

.team-own-paragraph h3 {
    font-size: 20px;
    color: #11749e;
    line-height: 0;
    margin-top: 36px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}

.team-own-paragraph p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
}

.taking-contacts {
    height: 851px;
    background: url("../img/Layer 97.png");
    color: white;
    text-align: center;
}

.taking-contacts-text {
    height: 400px;
    position: relative;
}

.taking-contacts-text h2 {
    font-size: 37px;
    text-transform: uppercase;
    padding-top: 225px;
    font-family: "Gotham-Medium", sans-serif;
}

.taking-contacts-text p {
    position: absolute;
    font-family: "Roboto-BoldCondensed", sans-serif;
    font-size: 248px;
    opacity: 25%;
    font-weight: 700;
    margin-left: 745px;
    top: 100px;
}

.place-holders {
    margin-left: auto;
    margin-right: auto;
    width: 1210px;
}

input {
    border: 1px solid white;
    padding: 12px;
    background: none;
    width: 342px;
    height: 23px;
    margin: 14px;
    color: white;
    font-family: "Gotham-Book", sans-serif;
    vertical-align: top;
}

#message-area {
    width: 1142px;
    height: 127px;
    vertical-align: top;
}

#submit-button {
    width: 227px;
    height: 64px;
    border: none;
    background-color: #11749e;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    font-family: "Gotham-Medium", sans-serif;
}

#submit-button:focus {
    border-bottom: 1px solid #999;
}

input:hover {
    outline: 3px solid lightslategrey;
}

input:focus {
    outline: 3px solid lightslategrey;
}

.road-map {
    height: 331px;
}

footer {
    height: 114px;
    background-color: #222222;
    color: white;
}

.footer-content {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 218px;
    margin-right: 216px;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 13px;
    line-height: 28px;
}