* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 1600px;
}

header {
    height: 1082px;
    background: url("../img/Layer 96.png");
    background-repeat: no-repeat;
    background-position: inherit;
}

.header-menu {
    display: flex;
    padding-top: 22px;
    padding-bottom: 18px;
    padding-left: 214px;
    line-height: 75px;
}

.header-menu ul {
    margin-left: 221px;
}

.header-medias li {
    display: inline-block;
    /*padding: 7px;*/
}

.header-medias a {
    text-decoration: none;
    color: white;
}